.settingButton {
    margin-top: 8px;
    margin-right: 20px;
    height: 35px;
    width: 35px;

    border: none;

    background-image: url("../../../icons/settings.m.svg");
    background-repeat: no-repeat;
    background-size: cover;
}